

/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #f1f1f1;
  background-image: linear-gradient(135deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background-attachment: fixed;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  width: 283px;
  margin: 103px 59px 0px;
  height: 495px;
  background-image: url('https://maringo.nl/MangoTrivia/smartphonebg.jpg');
  background-size: 110% 110%;
  background-position: center center;
  padding: 15px;
  border: 1px solid #111111;
}

.container:after{
  content: '';
  background-image: url('https://maringo.nl/MangoTrivia/smartphone.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  height: 680px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn.btn-start {
  display: block;
  margin: 100px auto 0px;
  font-size: 30px;
  font-weight: 700;
}

.presenter{
  height: 200px;
  width: 100%;
  background-image: url('https://maringo.nl/MangoTrivia/presenter.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;  
}

.questionwrapper{
  height: 270px;
  background-color: #f3f3f3;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.timer{
  position: absolute;
  top: -30px;
  z-index: 10;
  left: 100px;
  border-radius: 300px;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 40px;
  background-color: #e41245;
  color: white;
}

.questioncounter{
  width: 100%;
  text-align: center;
}

.question{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
}

.answers > div{
  background-color: #8e8efd;
  border: 1px solid #3e3e3e;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.waitwrap{
  text-align: center;
  width: 100%;
  font-style: italic;
  margin-top: 20px;
}